@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Kanit:ital,wght@1,300&family=Pacifico&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  user-select: none;
}
body {
  background-image: url(photo-1491864483946-1f06be97b71d.webp);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  font-family: "Pacifico", cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 6rem;
  font-weight: lighter;
  margin: 0;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-top: 0%;

  text-align: center;
}

.time h2 {
  font-weight: bold;
  font-size: 8rem;
  margin: 1rem;
  margin-top: -2rem;
}

.time h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Pacifico", cursive;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  html {
    font-size: 30%;

    font-size: 33%;
  }
  h1 {
    font-size: 5rem;
  }
  body {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    font-family: "Pacifico", cursive;

    display: flex;
    justify-content: center;
    flex-direction: column;

    overflow: hidden;

    text-align: center;
    align-items: center;
    margin: 0;
  }
  .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 0%;

    text-align: center;
  }

  .time h2 {
    font-weight: bold;
    font-size: 8rem;
    margin: 1rem;
    margin-top: -2rem;
  }

  .time h4 {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    font-weight: bolder;
  }
}
